{% extends 'djangoTwitter/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-4 pt-5 mt-4 p-2 mx-auto">
        <div class="content-section">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4 text-center text-lg">Login</legend>
                    <p class="text-muted text-sm text-center pl-2 pr-2">Login to your account to get notified when new publications are made, and many more.</p>
                    <br>
                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>
            </form>
            <div class=" text-right">
                <small class="text-muted">Don't have a account?<a class="ml-2 text-primary"
                        href="/register/">Register</a> </small>
            </div>
        </div>
    </div>
</div>


{% endblock %}
